
<!-- 
<div class="col-md-12">
  <table class="table table-responsive table-hover">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Creation date</th>
    </tr>
    <tr *ngFor="let item of group">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.created}}</td>
    </tr>
  </table>
</div> -->

<div class="center-block" >
  <p class="borderstatus" >
    Status: {{column}} = {{isDesc}}
  </p>
  <table class="table table-responsive table-hover">
    <tr>
      <th class="pointer" (click)="sort('id')">
        ID
        <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('name')">
        Name
        <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('created')">
        Created
        <i class="fa" [ngClass]="{'fa-sort': column != 'created', 'fa-sort-asc': (column == 'created' && isDesc), 'fa-sort-desc': (column == 'created' && !isDesc) }" aria-hidden="true"> </i>
      </th>
    </tr>
     <tr *ngFor="let item of group | category: {property: column, direction: direction}">
      <td>{{item.id}}  </td>      
      <td>{{item.name}}</td>
      <td>{{item.created}}</td>
      <td><button type="button" class="btn btn-primary" (click)="goToDetails(item.id)">View</button></td>
      
    </tr> 
  </table>
</div>
