<!--The content below is only a placeholder and can be replaced.-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid">
  <br>
  <br>
      <div class="jumbotron">
        <h2>Javascript single page application </h2> 
        <app-group></app-group>

      
        <h2 class="italic">Simple app for column sorting and displaying group and group details</h2>
        
    </div>
</div>
    <!-- Router Outlet -->
    <router-outlet></router-outlet>




      
     



